{
	"parser": "babel-eslint",
	"globals": {
		"define": true,
		"require": true,
		"module": true,
		"__dirname": true,
		"process": true,
		"console": true,
		"window": true,
		"document": true
	},
	"rules": {
		"complexity": [1, 7],
		"max-len": [1, 120, 4],
		"quotes": [1, "single"],
		"curly": [2, "multi"],
		"strict": [0],
		"global-strict": [0],
		"no-shadow": [0],
		"no-underscore-dangle": [0],
		"no-unused-vars": [0],
		"no-unused-expressions": [0],
		"no-console": [0]
	}
}
